---
import Layout from '../layouts/base.astro'
import ProjectCard from '../components/mini-project.astro'
import {getCollection} from 'astro:content';

const projects = await getCollection('projects');

projects.sort((a, b) => {
	return new Date(b.data.createdAt) - new Date(a.data.createdAt);
});
---

<Layout title="Accueil" description='Développeur auto-didacte depuis plusieurs années, les technologies les plus fréquemment utiliser sont NestJS pour la partie serveur ainsi que NuxtJS pour la partie client.'>
	<div class="flex flex-col justify-start items-start space-y-5">
		<h2 class="text-5xl font-bold font-title">Mes projets</h2>
		{projects.map((project) => (
			<ProjectCard title={project.data.title} description={project.data.description} tags={project.data.tags} createdAt={project.data.createdAt} slug={project.data.slug}/>
		))}
	</div>
</Layout>