---
import Layout from '../layouts/base.astro'
import ProjectCard from '../components/mini-project.astro'
import FrontendMentorCard from '../components/card-project.astro'
import {getCollection} from 'astro:content';

const projects = await getCollection('projects');
const frontend = await getCollection('frontendMentor');

projects.sort((a, b) => {
	return new Date(b.data.createdAt) - new Date(a.data.createdAt);
});

frontend.sort((a, b) => {
	return +b.slug - +a.slug;
});
---

<Layout title="Accueil" description='Développeur auto-didacte depuis plusieurs années, les technologies les plus fréquemment utiliser sont NestJS pour la partie serveur ainsi que NuxtJS pour la partie client.'>
	<div class="flex flex-col justify-start items-start space-y-5">
		<h2 class="text-5xl font-bold font-title dark:text-neutral-200 text-neutral-800">Mes projets</h2>
		{projects.map((project) => (
			<ProjectCard title={project.data.title} description={project.data.description} tags={project.data.tags} createdAt={project.data.createdAt} slug={project.data.slug}/>
		))}
	</div>

	<div class="flex flex-col justify-start items-start space-y-5">
		<h2 class="text-5xl font-bold font-title dark:text-neutral-200 text-neutral-800 pt-8 md:pt-32">Mes projets Frontend Mentor</h2>
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 w-full">
			{frontend.map((frontend) => (
				<FrontendMentorCard item={frontend}/>
			))}
		</div>
	</div>
</Layout>