---
import Button from './button.astro'

interface Props {
    title: string;
    description: string;
    tags: {url: string, alt: string}[],
    createdAt: Date,
    slug: string
}

const {title, description, tags, createdAt, slug} = Astro.props;
---

<div class="flex flex-col justify-start items-start p-6 md:p-12 rounded-lg dark:bg-neutral-200/10 bg-transparent border dark:border-neutral-200/25 border-neutral-800/25 space-y-3">
    <h2 class="text-4xl font-bold font-title dark:text-neutral-200 text-neutral-800">{title}</h2>
    <p class="text-lg font-body dark:text-neutral-200 text-neutral-700">{description}</p>
    <div class="flex flex-row justify-start items-center flex-wrap gap-3">
        {tags.map(({url, alt}) => (
            <img src={url} alt={alt}/>
        ))}
    </div>
    <div class="flex flex-col gap-3 md:flex-row justify-between items-center w-full">
        <span class="text-indigo-500">Créer le {createdAt}</span>
        <Button title="En savoir plus" url={`/project/${slug}`}>En savoir plus</Button>
    </div>
</div>